<article class="content charts-flot-page">
    <div class="title-block">
        <h3 class="title"> Charts Flot </h3>
        <p class="title-description"> List of sample charts with custom colors </p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Bar Chart Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-bar-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 520px; height: 225px;" width="1040" height="450"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 74px; top: 205px; left: 17px; text-align: center;" class="flot-tick-label tickLabel">1</div><div style="position: absolute; max-width: 74px; top: 205px; left: 104px; text-align: center;" class="flot-tick-label tickLabel">2</div><div style="position: absolute; max-width: 74px; top: 205px; left: 192px; text-align: center;" class="flot-tick-label tickLabel">3</div><div style="position: absolute; max-width: 74px; top: 205px; left: 280px; text-align: center;" class="flot-tick-label tickLabel">4</div><div style="position: absolute; max-width: 74px; top: 205px; left: 368px; text-align: center;" class="flot-tick-label tickLabel">5</div><div style="position: absolute; max-width: 74px; top: 205px; left: 456px; text-align: center;" class="flot-tick-label tickLabel">6</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 190px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 152px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; top: 114px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 76px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">30</div><div style="position: absolute; top: 38px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 0px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">50</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 520px; height: 225px;" width="1040" height="450"></canvas></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Line Cahrt Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 520px; height: 225px;" width="1040" height="450"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 86px; top: 205px; left: 17px; text-align: center;" class="flot-tick-label tickLabel">1</div><div style="position: absolute; max-width: 86px; top: 205px; left: 115px; text-align: center;" class="flot-tick-label tickLabel">2</div><div style="position: absolute; max-width: 86px; top: 205px; left: 213px; text-align: center;" class="flot-tick-label tickLabel">3</div><div style="position: absolute; max-width: 86px; top: 205px; left: 312px; text-align: center;" class="flot-tick-label tickLabel">4</div><div style="position: absolute; max-width: 86px; top: 205px; left: 410px; text-align: center;" class="flot-tick-label tickLabel">5</div><div style="position: absolute; max-width: 86px; top: 205px; left: 509px; text-align: center;" class="flot-tick-label tickLabel">6</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 190px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 152px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; top: 114px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 76px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">30</div><div style="position: absolute; top: 38px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 0px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">50</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 520px; height: 225px;" width="1040" height="450"></canvas></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Pie Chart Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart">
                                <div class="flot-chart-pie-content" id="flot-pie-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 225px; height: 225px;" width="450" height="450"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 225px; height: 225px;" width="450" height="450"></canvas><div class="legend"><div style="position: absolute; width: 62px; height: 88px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;top:5px;right:5px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(163, 219, 232);overflow:hidden"></div></div></td><td class="legendLabel">Sales 1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(123, 204, 221);overflow:hidden"></div></div></td><td class="legendLabel">Sales 2</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(82, 188, 211);overflow:hidden"></div></div></td><td class="legendLabel">Sales 3</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(49, 167, 193);overflow:hidden"></div></div></td><td class="legendLabel">Sales 4</td></tr></tbody></table></div></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Live Chart Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 520px; height: 225px;" width="1040" height="450"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 185px; left: 35px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 145px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">25</div><div style="position: absolute; top: 105px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; top: 66px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">75</div><div style="position: absolute; top: 26px; left: 20px; text-align: right;" class="flot-tick-label tickLabel">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 520px; height: 225px;" width="1040" height="450"></canvas></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Multiple Axes Line Chart Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-multi" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1100px; height: 225px;" width="2200" height="450"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 84px; top: 205px; left: 52px; text-align: center;" class="flot-tick-label tickLabel">Feb 2007</div><div style="position: absolute; max-width: 84px; top: 205px; left: 151px; text-align: center;" class="flot-tick-label tickLabel">Apr 2007</div><div style="position: absolute; max-width: 84px; top: 205px; left: 251px; text-align: center;" class="flot-tick-label tickLabel">Jun 2007</div><div style="position: absolute; max-width: 84px; top: 205px; left: 351px; text-align: center;" class="flot-tick-label tickLabel">Aug 2007</div><div style="position: absolute; max-width: 84px; top: 205px; left: 453px; text-align: center;" class="flot-tick-label tickLabel">Oct 2007</div><div style="position: absolute; max-width: 84px; top: 205px; left: 553px; text-align: center;" class="flot-tick-label tickLabel">Dec 2007</div><div style="position: absolute; max-width: 84px; top: 205px; left: 656px; text-align: center;" class="flot-tick-label tickLabel">Feb 2008</div><div style="position: absolute; max-width: 84px; top: 205px; left: 756px; text-align: center;" class="flot-tick-label tickLabel">Apr 2008</div><div style="position: absolute; max-width: 84px; top: 205px; left: 856px; text-align: center;" class="flot-tick-label tickLabel">Jun 2008</div><div style="position: absolute; max-width: 84px; top: 205px; left: 956px; text-align: center;" class="flot-tick-label tickLabel">Aug 2008</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 190px; left: 15px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 127px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; top: 63px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">100</div><div style="position: absolute; top: 0px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">150</div></div><div class="flot-y-axis flot-y2-axis yAxis y2Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 190px; left: 1057px;" class="flot-tick-label tickLabel">0.600€</div><div style="position: absolute; top: 127px; left: 1057px;" class="flot-tick-label tickLabel">0.667€</div><div style="position: absolute; top: 63px; left: 1057px;" class="flot-tick-label tickLabel">0.733€</div><div style="position: absolute; top: 0px; left: 1057px;" class="flot-tick-label tickLabel">0.800€</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1100px; height: 225px;" width="2200" height="450"></canvas><div class="legend"><div style="position: absolute; width: 166px; height: 44px; bottom: 30px; left: 34px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;bottom:30px;left:34px;;font-size:smaller;color:#999999"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(82,188,211);overflow:hidden"></div></div></td><td class="legendLabel">Oil price ($)</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(65,150,168);overflow:hidden"></div></div></td><td class="legendLabel">USD/EUR exchange rate</td></tr></tbody></table></div></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
